#home-page {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

#home-page main {
  padding: 24px;
  max-width: 1500px;
  margin: auto;
}

@media(min-width: 905px) {
  #main-component {
    display: grid;
    grid-template-areas: 
      "video-display video-list" 
      "video-info video-list"
      "comments video-list";
    grid-template-columns: auto minmax(300px, 400px);
    column-gap: 20px;
    
    width: 100%;
  }
}