.video-card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}

.video-card-container .video {
  display: flex;
}

.video-card-container .video .video-thumbnail {
  position: relative;
  width: 170px;
  height: 95px;
  cursor: pointer;
}

.video-card-container .video .video-thumbnail img {
  width: 170px;
  height: 95px;
}

.video-card-container .video .video-thumbnail .progress-bar {
  background: red;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.video-card-container .video .video-thumbnail .length {
  background: #000;
  font-size: 13px;
  padding: 2px;
  opacity: 0.9;
  color: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.video-card-container .video .video-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  
}

.video-card-container .video .video-info strong {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-dark);

  margin-bottom: 5px;

  /* Overflow hidden with line limit of 2 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.video-card-container .video .video-info span {
  font-size: 13px;
  color: var(--color-text);
  line-height: 18px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.video-card-container .more img {
  height: 18px;
  cursor: pointer;
}