.user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.user-menu img {
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}   

.user-menu .drop-down {
  display: flex;
  flex-direction: column;

  position: absolute;
  background: var(--color-header);
  font-size: 14px;
  right: 0;
  top: 40px;
  color: var(--color-text-dark);
  padding: 8px 0;
  white-space: nowrap;
  box-shadow: 0px 0px 1px 1px var(--color-hr);

  z-index: 1;
  display: flex;

  max-height: 90vh;
  overflow-y: auto;
}

.user-menu .drop-down .user-info {
  display: flex;
  padding: 15px;
}

.user-menu .drop-down .user-info img {
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-menu .drop-down .user-info .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-menu .drop-down .user-info .text strong {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-dark);
  margin-bottom: 5px;
}

.user-menu .drop-down .user-info .text span {
    font-size: 14px;
    color: var(--color-text-dark);
    margin-bottom: 15px;
  }

.user-menu .drop-down .user-info .text a {
  font-size: 14px;
  color: var(--color-highlight);
  text-decoration: none;
}

.user-menu .drop-down .options div {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.user-menu .drop-down .options div:hover {
  background: var(--color-input-submit-dark);
}

.user-menu .drop-down .options div span {
  color: var(--color-text-dark);
}

.user-menu .drop-down .options div img {
  height: 20px;
  margin-right: 15px;
}
